<footer>
  <div class="containerr">
      <div class="footer">
          <div class="newsletter">
              <div class="newsletter-left">
                  <h2>Subscribete a nuestra</h2>
                  <h1>Página</h1>
              </div>
              <div class="newsletter-right">
                  <div class="newsletter-input">
                      <input type="text" placeholder="ingresa tu dirección de correo electrónico" />
                      <button>Iniciar</button>
                      </div>
                  </div>
              </div>
              <div class="footer-content">
                  <div class="footer-main">
                  <h2><div class="logo-footer"><img src="./assets/images/logo-trasnparente.svg" alt=""></div></h2>
                  <h2>Shornel Store</h2>
                  <p>En Shornel Store, nos dedicamos a proporcionarte una amplia selección de gift cards para que puedas regalar experiencias únicas..</p>
                  <div class="social-links">
                  <a href="#"><i class="ph-fill ph-instagram-logo"></i></a> <a href="#"><i class="ph-fill ph-twitter-logo"></i></a>
                  <a href="#"><i class="ph-fill ph-tiktok-logo"></i></a>
                  <a href="https://www.facebook.com/erickleonel.coreasoto?locale=es_LA">
                    <i class="ph-fill ph-facebook-logo"></i>
                  </a>
                  </div>
                  <div class="copyright">Copyright © 2024 Shornel</div>
              </div>
              <div class="links">
              <p>Información</p>
              <a href="" class="link">Acerca de</a>
              <a href="" class="link">¿Quienes somos?</a>
              </div>
              <div class="links">
              <p>Ayuda</p>
              <a href="" class="link">Preguntas frecuentes</a>
              <a href="" class="link">Términos y condiciones </a>
              </div>
              <div class="links">
              <p>Contacto</p>
              <a href="" class="link">shornelstore@gmail.com</a>
              <a href="" class="link">(505)8278 9294</a>
              <a href="" class="link">Contactanos</a>
              </div>

              </div>
          </div>
      </div>

</footer>

