

<div class="container-p">
  <div class="container">
    <form class="form">
      <h2>Contactanos</h2>
      <div class="form-group">
        <label for="name">Nombre:</label>
        <input type="text" id="name" placeholder="Ingresa tu nombre completo" name="name" />
      </div>
      <div class="form-group">
        <label for="email">Correo</label>
        <input type="email" id="email" placeholder="Ingresa tu correo" name="email" />
      </div>
      <div class="form-group">
        <label for="message">Mensaje</label>
        <textarea id="message" name="message" rows="4" placeholder="Escribenos tus dudas o inconvenientes..."></textarea>
      </div>
      <button>Enviar</button>
    </form>
  </div>

</div>
