
<body>
  <!-- Menu principal -->
 <!-- <nav class="navbar">
      <a routerLink="/static/welcome">Inicio</a>
      <a routerLink="/shop">Tienda</a>
      <a routerLink="/contacto">Contacto</a>
 </nav> -->


  <!-- Header -->
 <header class="header">
      <div class="header__content">
        <h1 class="tprincipal">Shornel Store</h1>

      </div>
 </header>


 <!-- About -->
 <section class="about box-center">
      <h3 class="text-center">Nosotros</h3>

      <div class="about__container">
           <div class="content">
                <h4 class="about-title">En <span class="text-primario">Shornel Store</span></h4>
                <p class="text-solid4 line-space">
                  Nuestra misión es hacer que el entretenimiento digital sea accesible para todos, ofreciendo una amplia selección de tarjetas de códigos y suscripciones a precios asequibles. Creemos en la simplicidad, la seguridad y la satisfacción del cliente.
                </p>

                <div class="icons marginy">
                     <a href=""><span class="fas fa-heart"></span></a>
                     <a href="#"><span class="fas fa-heart"></span></a>
                     <a href="#"><span class="fas fa-heart"></span></a>
                     <a href="#"><span class="fas fa-heart"></span></a>
                </div>
           </div>

           <div class="container_image">
                <div class="image">
                     <img src="../../../../../assets/images/logo-actualizado.svg" alt="">
                </div>
           </div>
      </div>
 </section>


 <!-- Ofertas -->
 <section class="oferta">
      <div class="oferta__content">
        <h1>disponibilidad</h1>
        <h2 class="tsecundario">Lo que buscas, lo tenemos para tí.</h2>
        <div class="container-btn-blanco">
          <button class="btn-white"  routerLink="/shop">Ir a la tienda</button>
        </div>

      </div>
 </section>


 <!-- Menu -->
 <section class="menu box-center">
      <h3 class="text-center">Productos disponibles</h3>

      <div class="menu__container">
           <div class="card">
                <div class="card-container">
                     <h5 class="card-title text-center">Giftcards</h5>
                     <button class="btn-primary" routerLink="/shop" >Ir</button>
                </div>
           </div>

           <div class="card">
                <div class="card-container">
                     <h5 class="card-title text-center">Códigos de Juegos</h5>
                     <button class="btn-primary" routerLink="/shop">Ir</button>
                </div>
           </div>

           <div class="card">
                <div class="card-container">
                     <h5 class="card-title text-center">Códigos de Programas</h5>
                     <button class="btn-primary" routerLink="/shop">Ir</button>
                </div>
           </div>

      </div>

 </section>

</body>



<app-footer></app-footer>
